<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <form action="/authenticate" method="POST">
        <h2>Login</h2>
        <div class="section">
            <div class="title">Username</div>
            <div class="field"><input type="text" id="userna me" name="username"></div>
        </div>
        <div class="section">
            <div class="title">Password</div>
            <div class="field"><input type="password" id="password" name="password"></div>
        </div>
        <div class="section">
            <div class="button"><input type="submit" value="Login"></div>
            <div class="button"><a href="register">Registrarse</a></div>
        </div>
    </form>
</body>
</html>