<!--Plantilla donde podremos realizar el registro de los nuevos usuarios-->

<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Registro</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<img src="http://c.files.bbci.co.uk/1D09/production/_108633470_1-1.jpg" alt="width 50px">
    <form action="/register" method="POST">
        <h2>Registro</h2>
        <div class="section">
            <div class="title">Username</div>
            <div class="field"><input type="text" id="username" name="username"></div>
        </div>
        <div class="section">
            <div class="title">Password</div>
            <div class="field"><input type="password" id="password" name="password"></div>
        </div>
        <div class="section">
            <div class="button"><input type="submit" value="Registrar Usuario"></div>
            <div class="button"><a href="/">Login</a></div>
        </div>
    </form>
</body>

<body>

</body>
</html>